@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 5, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, _/components/sass/_base.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 11, _/components/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 14, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, _/components/sass/_layout.scss */
#shipping-header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  max-height: 33px;
  padding: 10px 0;
}

/* line 22, _/components/sass/_layout.scss */
.layout {
  *zoom: 1;
  max-width: 960px;
  max-width: 60rem;
  _width: 960px;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 38, ../../../../Users/jesse/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, _/components/sass/_layout.scss */
#shipping-header {
  text-transform: uppercase;
  font-family: 'arial';
  font-size: 10px;
}
/* line 31, _/components/sass/_layout.scss */
#shipping-header span.free-shipping {
  letter-spacing: 1px;
  font-weight: 300;
}
/* line 34, _/components/sass/_layout.scss */
#shipping-header span.free-shipping::before {
  content: url("/assets/truck.png");
  margin-right: 5px;
}
/* line 39, _/components/sass/_layout.scss */
#shipping-header span#account {
  float: right;
}

/* line 44, _/components/sass/_layout.scss */
#header {
  text-transform: uppercase;
  padding: 20px 0;
}
/* line 47, _/components/sass/_layout.scss */
#header h1#branding {
  font-family: 'Cinzel', serif;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  width: 130px;
  float: left;
  margin-right: 20px;
}
@media (min-width: 780px) {
  /* line 47, _/components/sass/_layout.scss */
  #header h1#branding {
    width: 180px;
    font-size: 48px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
/* line 63, _/components/sass/_layout.scss */
#header div.menu {
  margin-left: 10px;
  clear: both;
  margin-top: 13px;
}
@media (min-width: 780px) {
  /* line 63, _/components/sass/_layout.scss */
  #header div.menu {
    width: 40.42553%;
    float: left;
    margin-right: 2.12766%;
    margin-left: 0;
    clear: none;
  }
}
/* line 73, _/components/sass/_layout.scss */
#header div.menu ul#main-menu li.nav-link {
  display: inline-block;
}
/* line 75, _/components/sass/_layout.scss */
#header div.menu ul#main-menu li.nav-link a {
  color: #000000;
  font-size: 14px;
  padding: 0 10px;
}
/* line 84, _/components/sass/_layout.scss */
#header div#your-cart {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #E1E0DE;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
@media (min-width: 780px) {
  /* line 84, _/components/sass/_layout.scss */
  #header div#your-cart {
    float: right;
    margin-left: 0;
    margin-top: 0;
  }
}
/* line 95, _/components/sass/_layout.scss */
#header div#your-cart div {
  display: table-cell;
  vertical-align: middle;
}
/* line 99, _/components/sass/_layout.scss */
#header div#your-cart #bag {
  width: 20px;
  padding: 5px 8px;
}
/* line 103, _/components/sass/_layout.scss */
#header div#your-cart #bag-contents {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #E1E0DE;
  padding: 10px;
  letter-spacing: 1px;
}
/* line 109, _/components/sass/_layout.scss */
#header div#your-cart #bag-contents span {
  font-weight: 700;
}

/* line 114, _/components/sass/_layout.scss */
#slider-container {
  background-color: #F0F2EF;
  height: 467px;
  position: relative;
}
/* line 118, _/components/sass/_layout.scss */
#slider-container div {
  margin-top: 177px;
}
/* line 120, _/components/sass/_layout.scss */
#slider-container div.prev {
  float: left;
  margin-left: 70px;
}
/* line 123, _/components/sass/_layout.scss */
#slider-container div.prev img {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 127, _/components/sass/_layout.scss */
#slider-container div.next {
  float: right;
  margin-right: 70px;
}

/* line 135, _/components/sass/_layout.scss */
#main-content div.promotion {
  text-align: center;
  background-color: #F06B20;
  padding: 15px 0;
  max-height: 50px;
}
/* line 140, _/components/sass/_layout.scss */
#main-content div.promotion h4 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 12px;
}
/* line 147, _/components/sass/_layout.scss */
#main-content #info-container {
  padding: 20px 0 40px;
}
/* line 149, _/components/sass/_layout.scss */
#main-content #info-container .thirds {
  width: 60%;
  margin: 0 auto 45px;
  text-align: center;
}
@media (min-width: 480px) {
  /* line 149, _/components/sass/_layout.scss */
  #main-content #info-container .thirds {
    float: left;
    margin-right: 40px;
    width: 30%;
    margin-bottom: 0;
  }
  /* line 154, _/components/sass/_layout.scss */
  #main-content #info-container .thirds:last-of-type {
    margin-right: 0px;
  }
}
/* line 160, _/components/sass/_layout.scss */
#main-content #info-container .thirds .placeholder {
  height: 205px;
  width: 295px;
  max-width: 100%;
  background-color: #F0F2EF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 167, _/components/sass/_layout.scss */
#main-content #info-container .thirds h5 {
  text-transform: uppercase;
  margin: 11px 0;
  font-size: 13px;
  font-weight: 700;
}
/* line 173, _/components/sass/_layout.scss */
#main-content #info-container .thirds p {
  font-weight: 300;
  font-size: 14px;
  width: 249px;
  max-width: 100%;
  margin: 0 auto;
}
/* line 180, _/components/sass/_layout.scss */
#main-content #info-container .thirds a {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  margin-top: 20px;
  padding: 5px 60px;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 191, _/components/sass/_layout.scss */
#main-content #bottom-gap {
  height: 303px;
  background-color: #F0F2EF;
}

/* line 196, _/components/sass/_layout.scss */
#footer {
  padding: 20px 0 40px;
  border-bottom: 2px solid #F0F2EF;
}
/* line 199, _/components/sass/_layout.scss */
#footer #social {
  background-color: #F0F2EF;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 30px;
}
/* line 204, _/components/sass/_layout.scss */
#footer #social p {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
/* line 210, _/components/sass/_layout.scss */
#footer #social p a {
  color: #F06B20;
}
/* line 213, _/components/sass/_layout.scss */
#footer h5 {
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 217, _/components/sass/_layout.scss */
#footer div#about, #footer div#need-help, #footer div#why-us {
  width: 30%;
  margin-right: 20px;
}
@media (min-width: 480px) {
  /* line 217, _/components/sass/_layout.scss */
  #footer div#about, #footer div#need-help, #footer div#why-us {
    float: left;
    margin-right: 80px;
    margin-bottom: 0;
  }
}
/* line 225, _/components/sass/_layout.scss */
#footer div#about li, #footer div#need-help li, #footer div#why-us li {
  list-style: none;
}
/* line 227, _/components/sass/_layout.scss */
#footer div#about li a, #footer div#need-help li a, #footer div#why-us li a {
  color: #000000;
  font-weight: 300;
  font-size: 13px;
}
/* line 234, _/components/sass/_layout.scss */
#footer div#stay-connected {
  clear: left;
}
@media (min-width: 480px) {
  /* line 234, _/components/sass/_layout.scss */
  #footer div#stay-connected {
    clear: none;
  }
}
/* line 239, _/components/sass/_layout.scss */
#footer div#stay-connected input {
  padding: 10px;
}
/* line 241, _/components/sass/_layout.scss */
#footer div#stay-connected input.connected-email {
  border: 1px solid #F0F2EF;
  width: 230px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Lato';
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 250, _/components/sass/_layout.scss */
#footer div#stay-connected input[type="submit"] {
  border: 1px solid #D35E1C;
  margin-left: -1px;
  background-color: #F06B20;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 260, _/components/sass/_layout.scss */
#footer div#stay-connected input[type="submit"]:hover {
  cursor: pointer;
}
/* line 265, _/components/sass/_layout.scss */
#footer div#stay-connected > div {
  margin-top: 10px;
}
/* line 267, _/components/sass/_layout.scss */
#footer div#stay-connected > div img {
  margin-right: 20px;
}
